html, body {
    height: 99%;
}

body {
    display: flex;
    flex-direction: column;
    height: 1fr;
    font-family: arial, sans-serif;
    font-size: 13px;
 }

 a {
    padding-left: 15px;
}

 .header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.content {
    justify-content: center;
    margin: auto;
}

form {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    margin-left: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    height: 2.5em;
    align-items: center;
    font-size: 14px;
    
}

.footer_link {
    padding-left: 27px;
}

.pad_right {
    padding-right: 22px;
}

a:link, a:visited {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

a:hover, a:active {
    text-decoration: underline;
}

header a:hover {
    opacity: 0.7;
} 

.footer a {
    color: #5f6368;;
}

.footer a:active {
    color: #dd4b39;
}